<h1>searcing for <%= @search_term %></h1>

<table border="1"><tr><th>Thumbnail</th>
		<th>Title</th>
		<th>Social rank</th></tr>
<tr>
<%  @recipes.each do |recipe|%>
<td><%=link_to image_tag(recipe["image_url"],size: "100x100"), recipe["source_url"] %></td>
		<td><%= link_to (sanitize recipe["title"]), recipe["source_url"] %></td>
		<td><%= recipe["social_rank"] %></td>

</tr>

<% end %>

</table>